
@use '../../../styles/mixins'as*;

.header {
    background-color: #212223;
    color: var(--c-white);
}

.header-top {
    border-bottom: 1px solid var(--c-white);

    &__inner {
        display: flex;
        justify-content: space-between;

        // padding: 12px 0;

        //тут є проблема - у класа container є padding: 0 15px (зправа), а властивість вище обнуляє цей падінг, а це не правильно, для вирішення цього питання є декілька рішень: додати padding-top та padding-bottom окремо, або додати властивість padding-block: 12px;, яка завдає значення відступів тільки зверху та низу якщо не вказувати відступи зправа та зліва.
        padding-block: 12px;
    }

    .contact-info {
        display: flex;
        gap: 40px;

        &__link {
            transition: color 0.3s ease-in-out;
            @include hover {
                color: var(--c-pink);
            }

            &::before {
                background-color: var(--c-lightgray);
            }
        }
    }
}

.header-bottom {
    padding-block: 10px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 32px;

    &__link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        transition: color 0.3s ease-in-out;

        @include hover {
            color: var(--c-pink);
        }
    }
}