@use '../../../../styles/mixins/'as*; //підключення міксинів

.services-advantages {

    .advantages__inner {

        justify-content: flex-end;

        padding-block: 60px 100px;

        background-image: url('/src/assets/images/services/services-advantages.webp');

        background-position: left center;
    }
    
}